option_settings:
  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '2'
    HealthCheckInterval: '5'
    HealthCheckPath: /health
    HealthCheckTimeout: '2'
    HealthyThresholdCount: '2'
    UnhealthyThresholdCount: '2'
    MatcherHTTPCode: null
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '3600'
